.title-row h1 {
    display: inline;
  }

.title-row img {
    display: inline;
    width: 36px;
    height: auto;
    padding-bottom: 16pt;
  }

.director-row {
    display: inline;
  }

.genre-row {
    display: inline;
  }