body {
  background-color: #6c8884 !important;
}

// input {
//   border: none !important;
//   border-radius: 0 !important;
// }

button {
  border: none !important;
  border-radius: 0 !important;
}
