.main-nav {
    background-color: #231f20 !important;
    max-width: '100%' !important; //This will make container to take screen width
    
    * {
        color: #f6f9e4 !important;
        transition: all 0.8s ease;
        &:hover {
            color: #49a4bd !important;
        }
    }
}

.navbar-logo {
    font-family: 'Oleo Script', cursive !important;
    display: inline !important;
}
